<% copy = data.beliefs.belief_list %>
<div class='BeliefList'>
  <div class='BeliefList-title'>
    <%= copy[:title] %>
  </div>

  <div class='BeliefList-beliefs'>
    <% copy[:beliefs].each_with_index do |belief, index| %>
      <div class='BeliefList-belief'
           data-target="<%= index %>"
           data-base-class='BeliefList-belief'
      >
        <div class='BeliefList-beliefCategory'
             data-toggle="<%= index %>"
        >
          <span><%= belief[:title] %></span>
          <%= evil_icon 'ei-plus', size: :m, class: "BeliefList-icon BeliefList-open" %>
          <%= evil_icon 'ei-minus', size: :m, class: "BeliefList-icon BeliefList-close" %>
        </div>

        <div class='BeliefList-beliefDetails'
        >
          <% belief[:details].each do |detail| %>
            <div class='BeliefList-beliefDetail'>
              <%= detail.html_safe %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>