<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Community Baptist Church" />
    <meta property="og:url" content="http://www.cbcspringhill.org/" />
    <meta property="og:description" content="Loving God; Loving Man" />
    <meta property="og:image" content="/images/info_banner.jpg" />

    <title>CBC Spring Hill</title>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500" rel="stylesheet">
    <%= stylesheet_link_tag "site" %>
    <%= yield_content(:head_assets) if content_for?(:head_assets) %>
  </head>
  <body>
    <%= partial 'layouts/slices/mobile_nav' %>
    <%= partial 'layouts/slices/top_nav' %>

    <main>
      <%= yield %>
    </main>

    <%= partial 'layouts/slices/footer' %>

    <%= javascript_include_tag "site" %>
    <%= yield_content(:body_assets) if content_for?(:body_assets) %>
  </body>
</html>
