<% copy = data.home.staff %>
<div class='Staff'>
  <div class='Staff-title'>
    <%= copy[:title] %>
  </div>

  <div class='Staff-members'>
    <% copy[:members].each do |m| %>
      <div class='Staff-member'>
        <div class='Staf-memberImageContainer'>
          <img src='<%= m[:img_src] %>' alt='<%= m[:img_alt] %>' title='<%= m[:img_alt] %>'>
        </div>

        <div class='Staff-memberTextContainer'>
          <div class='Staff-memberFirst'>
            <%= m[:first_name] %>
          </div>
          <div class='Staff-memberLast'>
            <%= m[:last_name] %>
          </div>

          <div class='Staff-memberPosition'>
            <%= m[:position] %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
