<% copy = data.footer %>
<footer class='Footer'>
  <div class='Footer-container'>
    <div class='Footer-row'>
      <%= copy[:title] %>
    </div>

    <div class='Footer-row'>
      <%= link_to copy[:address].html_safe, copy[:address_link], class: 'inline-link mobile-link' %>
    </div>

    <div class='Footer-row'>
      <%= copy[:email] %>
    </div>

    <div class='Footer-row'>
      <%= copy[:service_time] %>
    </div>
  </div>

  <div class='Footer-callouts'>
    <% copy[:callouts].each do |item| %>
      <div class='Footer-callout'>
        <%= link_to item[:text], item[:link], class: 'inline-link' %>
      </div>
    <% end %>
  </div>
</footer>